# Binários gerados pelo compilador Delphi (seguro para excluir)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.res
*.deployproj
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.ico

# Arquivos autogerados Delphi (informações duplicadas)
*.cfg
*.hpp
*Resource.rc

# Arquivos locais Delphi (informações específicas do usuário)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Histórico e backups do Delphi
__history/
__recovery/
*.~*
B/
E/
Andrioid/
Win32/

# # Arquivo de estatísticas
*.stat

# Pasta do fornecedor do gerenciador de dependências do chefe
modules/

# End